/*
main
font-family: 'Open Sans', sans-serif;

sub
font-family: 'Chivo', sans-serif;

paragraphs
font-family: 'Overpass', sans-serif;
*/
/*APP.JS*/
main {
  font-family: 'Overpass', sans-serif;
}

/*NAV BAR*/
.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 3em;
  font-weight: bold;
  font-size: large;

  background-color: black;
}

.nav-buttons {
  font-family: 'Chivo', sans-serif;
  background-color: #c13aa6;
  border: none;
  color: white;
  padding: 8px 20px 8px 20px;
  text-align: center;
  font-size: 12px;
  margin: 2px 5px 2px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

.nav-buttons:hover {
  opacity: 1;
}

/*HOMEPAGE*/

.main-container {
  margin-top: 3em;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 3em;

  text-align: center;
  min-width: 100px;

  box-shadow: 0 8px 32px 8px rgba(57, 203, 35, 0.571);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='23.2' stroke-opacity='0.75'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.library {
  font-family: 'Chivo', sans-serif;
}

.cards {
  max-width: 30em;
  min-height: 10em;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
  justify-self: center;

  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.cards:hover {
  opacity: 1;
  background-color: #48c13a;
  color: #c13aa6;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.deck-title-home {
  margin-top: 2em;
}

/*PROFILE-PAGE*/
.profile-img {
  max-width: 20em;
  margin-bottom: 1em;
}

.deck-title {
  margin-top: 3em;
}

.page-buttons {
  font-family: 'Chivo', sans-serif;
  background-color: #c13aa6;
  border: none;
  color: white;
  padding: 8px 20px 8px 20px;
  text-align: center;
  font-size: 12px;
  margin: 2px 5px 2px 2px;
  opacity: 0.9;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

.page-buttons:hover {
  opacity: 1;
  background-color: #48c13a;
}

/*FORMS*/
form {
  margin-bottom: 3em;
}

.input-feild {
  background: rgba(155, 155, 155, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(17.5px);
  -webkit-backdrop-filter: blur(17.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  padding: 1em 8em;
  margin-bottom: 2em;
  max-width: 12em;
  color: #48c13a;
  text-align: center;
}

/*FLASHCARD*/
.flashcard {
  max-width: 40em;
  min-height: 28em;
  border-radius: 4px;
  transition: all 0.2s;
  justify-self: center;

  margin-top: 3em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(221, 16, 232, 0.37);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.editor-view {
  font-size: 18px;
  background-color: #011627;
  border-radius: 3px;
  width: 55ch;

  padding: 18px;
  text-align: left;
  tab-size: 4ch;
  /* min-height: 300px; */
  min-height: 10em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;

  overflow-y: scroll;
  font-family: 'Fira code', 'Fira Mono', Consolas, Menlo, Courier, monospace;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-weight: 500;
  border-radius: 0.3em;
}
